<?xml version = "1.0" encoding = "UTF-8"?>
<!--DEVELOPMENT -->
<beans
    profile = "development"

    xmlns           = "http://www.springframework.org/schema/beans"
    xmlns:xsi       = "http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context   = "http://www.springframework.org/schema/context"
    xmlns:jpa       = "http://www.springframework.org/schema/data/jpa"
    xmlns:mvc       = "http://www.springframework.org/schema/mvc"
    xmlns:tx        = "http://www.springframework.org/schema/tx"
    xmlns:jdbc      = "http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation = "http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/jdbc
        http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>
    <context:annotation-config />

    <!-- Scans the classpath for @Components to deploy as beans -->
    <context:component-scan base-package = "com.coffeine.virtuoso" />

    <!-- Configures the @Controller programming model -->
    <mvc:annotation-driven />

    <!-- SECTION :: INTERCEPTOR -->
    <mvc:interceptors>
        <!-- Manual change locale request contain locale(locale=en=US) -->
        <bean
            class = "org.springframework.web.servlet.i18n.LocaleChangeInterceptor"
        />
    </mvc:interceptors>

    <!-- Handles HTTP GET requests for /resources/** by efficiently serving up
        static resources in the ${webappRoot}/resources/ directory
    -->
    <mvc:resources mapping = "/resources/**" location = "/resources/" />

    <!-- SECTION :: LOCALIZATION -->
    <!-- Save a locale to cookie -->
    <bean
        id = "localeResolver"
        class = "org.springframework.web.servlet.i18n.CookieLocaleResolver"
    >
        <property name = "defaultLocale" value = "en" />
        <property name = "cookieName" value = "locale" />
        <property name = "cookieMaxAge" value = "3600" />
    </bean>

    <!-- Application message bundle -->
    <bean
        id = "messageSource"
        class = "org.springframework.context.support.ReloadableResourceBundleMessageSource"
    >
        <property name = "basenames">
            <list>
                <value>classpath:i18n/messages</value>
            </list>
        </property>
        <property name = "defaultEncoding" value = "UTF-8" />
    </bean>


    <!-- SECTION :: PERSISTANCE(Hibernate) -->
    <jpa:repositories base-package = "com.coffeine.virtuoso" />

    <!-- Data source -->
    <bean
        id = "dataSource"
        class = "org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy"
    >
        <property name = "targetDataSource" ref = "mainDataSource"/>
    </bean>

    <bean
        id = "mainDataSource"
        class = "com.jolbox.bonecp.BoneCPDataSource"
        destroy-method = "close"
    >
        <property name = "driverClass" value = "org.postgresql.Driver" />
        <property
            name = "jdbcUrl"
            value = "jdbc:postgresql://${DB_HOST}:5432/virtuoso"
        />
        <property name = "username" value = "${persistence.username}" />
        <property name = "password" value = "${persistence.password}" />
        <property name = "idleConnectionTestPeriodInMinutes" value = "60"/>
        <property name = "idleMaxAge" value = "240"/>
        <property name = "maxConnectionsPerPartition" value = "10"/>
        <property name = "minConnectionsPerPartition" value = "1"/>
        <property name = "partitionCount" value = "1"/>
        <property name = "acquireIncrement" value = "10"/>
        <property name = "statementsCacheSize" value = "50"/>
        <property name = "releaseHelperThreads" value = "3"/>
    </bean>

    <bean
        id = "jpaVendorAdapter"
        class = "org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"
    >
        <property name = "showSql" value = "true" />
        <property name = "generateDdl" value = "true" />
        <property name = "database" value = "POSTGRESQL" />
    </bean>

    <bean
        id = "entityManagerFactory"
        class = "org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
    >
        <property name = "dataSource" ref = "dataSource" />
        <property name = "jpaVendorAdapter" ref = "jpaVendorAdapter" />
        <property name = "packagesToScan" value = "com.coffeine.virtuoso" />
    </bean>

    <bean
        id = "transactionManager"
        class = "org.springframework.orm.jpa.JpaTransactionManager"
    >
        <property name = "entityManagerFactory" ref = "entityManagerFactory" />
    </bean>

    <tx:annotation-driven
        transaction-manager = "transactionManager"
        proxy-target-class = "true"
    />

</beans>
