<table id="songst" width = "100%">
    <thead>
        <tr>
            <th width = "50">#</th>
            <th>Name</th>
            <th width = "160">Composer</th>
            <th width = "160">Poet</th>
            <th width = "100">Time of create</th>
        </tr>
    </thead>
    <tbody>
    <% _.each( songs, function( song ){ %>
        <tr>
            <td><%- song.id  %></td>
            <td>
                <a href = "#user/song/<%- song.id %>"><%- song.locale  %></a>
            </td>
            <td><%- song.composer.id  %></td>
            <td><%- song.poet.id  %></td>
            <td><%- song.creation  %></td>
        </tr>
    <% }); %>
    </tbody>
</table>