/**
 * @date 2014-07-24 17:05:40 ::
 *
 * @description Replace Bootstrap style
*/
h1
{
    text-align: center;
}

h3
{
    margin-top: 10px;
}

img
{
    margin: 0 5px 5px 0;
}

.separate-horizontal
{
    clear: both;
    margin: 0;
}

.navbar
{
    margin-bottom: 5px;
}

.breadcrumb
{
    margin-bottom: 5px;
}

.main
{
}

.panel-left
{
    background: #eee;
    /*margin-right: 5px;*/
    margin-bottom: 5px;
}

.content
{
    background: #f5f5f5;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    /*font-size: medium;*/
    margin-bottom: 5px;
    padding: 5px;
    /*width: 100%;*/
}

footer
{
    background: linear-gradient( to top, #fff, #eee, #ccc );
    clear: both;
    line-height: 2em;
    text-align: center;
}


/**
 * Bootstrap
*/
.col-md-1
{
    padding-left: 5px;
    padding-right: 5px;
}

.row
{
    margin-right: -10px;
}

/* Form */
.form-element
{
    border      : solid 3px white;
    padding     : 5px;
}
    .form-element>label
    {
        border-bottom: solid 1px black;
    }

.info
{
    border-left     : solid 1px white;
}

    .info>.info-item
    {
        clear: both;
        margin-bottom: 5px;
    }

        .info>.info-item>.info-item-photo
        {
            float: left;
        }

        .info>.info-item>.info-item-description
        {
            margin-left: 165px;
        }