<div id = "song" class = "song">

    <div id = "header" class = "header">
        <div id = "title" class = "title"><%- title %></div>
    </div>

    <div id = "content" class = "song-content">

        <div id = "notes" class = "staff item">
            <div class = "item-swipe item-swipe-left">L</div>
            <ul>
                <li class = "active">
                    <div id = "" class = "transpose">
                        <roller>
                            <item value = "C">C</item>
                            <item value = "Cm">Cm</item>
                            <item value = "D">D</item>
                            <item value = "Dm">Dm</item>
                            <item value = "D">E</item>
                            <item value = "Dm" class = "active">Em</item>
                            <item value = "D">F</item>
                            <item value = "Dm">Fm</item>
                            <item value = "D">G</item>
                            <item value = "Dm">Gm</item>
                            <item value = "D">B</item>
                            <item value = "Dm">Bm</item>
                        </roller>
                    </div>
                    <div class = "authors">
                        <div class = "author composer"><%- composer.user.firstName %></div>
                    </div>
                    <div id = "" class = "viewer">
                        <canvas id = "editor-notes"></canvas>
                    </div>
                </li>
            </ul>
            <div class = "item-swipe item-swipe-right">R</div>
        </div>

        <div id = "text" class = "text item">
            <div class = "item-swipe item-swipe-left">L</div>
            <ul>
                <% _.each( texts, function( text ) { %>
                <li>
                    <div class = "authors">
                        <div class = "author poet"><%- poet.user.firstName %></div>
                    </div>
                    <div class = "viewer">
                        <%- text.id %>
                    </div>
                </li>
                <% } ); %>
            </ul>
            <div class = "item-swipe item-swipe-right">R</div>
        </div>

        <div id = "video" class = "video item">
            <div class = "item-swipe item-swipe-left">L</div>
            <ul>
                <% _.each( texts, function( text ) { %>
                <li>
                    <div class = "authors">
                        <div class = "author"><%- poet.user.firstName %></div>
                    </div>
                    <div class = "viewer">
                        <%- text.id %>
                    </div>
                </li>
                <% } ); %>
            </ul>
            <div class = "item-swipe item-swipe-right">R</div>
        </div>

    </div>

</div>
