<div id = "song-create-form" class = "">
    <h1>Create a new song</h1>
    <form method = "post">
        <fieldset>
            <!-- Composer -->
            <div class = "form-group form-element">
                <div class = "row">
                    <div class = "col-xs-6">
                        <label for = "song-composer">Composer</label>
                        <select
                            id = "song-composer"
                            class = "form-control"
                            placeholder = "Composer"
                            multiple = "multiple"
                        >
                            <% _.each( composers, function( composer ) { %>
                                <option
                                    value = "<%- composer.id %>"
                                >
                                    <%- composer.firstName + ' ' + composer.lastName %>
                                </option>
                            <% }); %>
                        </select>
                        <div class = "add">
                            <a href = "#user/composer/create">Add</a>
                        </div>
                    </div>
                    <div class = "info col-xs-6">
                        <div class = "info-item">
                            <div class = "info-item-photo">
                                <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/0/08/%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg/300px-%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg" width = "160"/>
                            </div>
                            <div class = "info-item-description">
                                <h3>1970-2015</h3>
                                <p>
                                    Skryabin is a band from western Ukraine founded in 1989. Andriy "Kuzma" Kuzmenko was the band's lead singer until his death in 2015.
                                </p>
                            </div>
                        </div>
                        <hr class = "separate-horizontal"/>
                        <div class = "info-item">
                            <div class = "info-item-photo">
                                <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/0/08/%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg/300px-%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg" width="160" />
                            </div>
                            <div class = "info-item-description">
                                <h3>1970-2015</h3>
                                <p>
                                    Skryabin is a band from western Ukraine founded in 1989. Andriy "Kuzma" Kuzmenko was the band's lead singer until his death in 2015.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Poet -->
            <div class = "form-group form-element">
                <div class = "row">
                    <div class = "col-xs-6">
                        <label for = "song-poet">Poet</label>
                        <select
                            id = "song-poet"
                            class = "form-control"
                            placeholder = "Poet"
                            multiple = "multiple"
                        >
                            <option></option>
                            <option>Skryabin</option>
                            <option>en-US</option>
                            <option>uk-UA</option>
                        </select>
                        <div class = "add">
                            <a href="">Add</a>
                        </div>
                    </div>
                    <div class = "info col-xs-6">
                        <img src = "http://upload.wikimedia.org/wikipedia/commons/thumb/0/08/%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg/300px-%D0%A1%D0%BA%D1%80%D1%8F%D0%B1%D1%96%D0%BD.jpg" height="120" align="left" />
                        <h3>1970-2015</h3>
                        <p>
                            Skryabin is a band from western Ukraine founded in 1989. Andriy "Kuzma" Kuzmenko was the band's lead singer until his death in 2015.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Params -->
            <div class = "form-group form-element">
                <div class = "row">
                    <div class = "col-xs-2">
                        <label for = "song-locale">Language:</label>
                        <select
                            id = "song-locale"
                            class = "form-control"
                            placeholder = "Locale"
                        >
                            <option>en-US</option>
                            <option>uk-UA</option>
                        </select>
                    </div>
                    <div class = "info col-xs-2">
                        <label for = "song-writedate">Date of write:</label>
                        <input
                            id = "song-writedate"
                            class = "form-control"
                            type = "date"
                            placeholder = "Date of write"
                        />
                    </div>
                </div>
            </div>

            <!-- Text -->
            <div class = "form-group form-element">
                <div class = "row">
                    <div class = "col-xs-6">
                        <label for = "song-text">Text</label>
                        <textarea id = "song-text" class = "form-control"></textarea>
                    </div>
                    <div class = "info col-xs-6">
                        <p>Red Rose</p>
                    </div>
                </div>
            </div>

            <!-- Staff -->
            <div class = "form-group form-element">
                <div class = "row">
                    <div class = "col-xs-6">
                        <label for = "song-staff">Staff:</label>
                        <textarea id = "song-staff" class = "form-control"></textarea>
                    </div>
                    <div class = "info col-xs-6">
                        <p>Red Rose</p>
                    </div>
                </div>
            </div>

            <div class = "form-group text-center">
                <button class = "btn btn-default" type = "reset">Cancel</button>
                <button class = "btn btn-primary" type = "submit">Create</button>
            </div>
        </fieldset>
    </form>
</div>
