<div id = "song-create-form" class = "form">
    <form method = "post">
        <div class = "form-row">
            <input id = "song-composer" type = "text" placeholder = "Composer" />
        </div>
        <div class = "form-row">
            <input id = "song-poet" type = "text" placeholder = "Poet" />
        </div>
        <div class = "form-row">
            <select id = "song-locale" placeholder = "Locale" >
                <option>en-US</option>
                <option>uk-UA</option>
            </select>
        </div>
        <div class = "form-row">
            <input id = "song-writedate" type = "text" placeholder = "Date of write" />
        </div>
    </form>
</div>