<div id = "song-create-form" class = "form">
    <form method = "post">
        <fieldset>
            <div class="form-group">
                <div class = "form-row">
                    <select id = "song-composer" placeholder = "Composer" >
                        <option>Abs</option>
                        <option>en-US</option>
                        <option>uk-UA</option>
                    </select>
                    <div class = "add">
                        <a href="">Add</a>
                    </div>
                </div>
                <div class = "form-row">
                    <select id = "song-poet" placeholder = "Poet" >
                        <option>en-US</option>
                        <option>uk-UA</option>
                    </select>
                    <div class = "add">
                        <a href="">Add</a>
                    </div>
                </div>
                <div class = "form-row">
                    <select id = "song-locale" placeholder = "Locale" >
                        <option>en-US</option>
                        <option>uk-UA</option>
                    </select>
                </div>
                <div class = "form-row">
                    <input id = "song-writedate" type = "date" placeholder = "Date of write" />
                </div>
            </div>
        </fieldset>
    </form>
</div>
