<div id = "" class = "security-authorization">

    <div id = "" class = "security-authorization-header">
        <div id = "" class = "security-authorization-header-title">Auth</div>
    </div>

    <div id = "" class = "security-authorization-content">

        <label for = "username" />
        <input id = "username" name = "username" placeholder = "Username" />

        <label for = "password" />
        <input id = "password" type = "password" name = "password" placeholder = "Password" />

        <input id = "security-signin" type = "button" value = "Sign In" />

    </div>

</div>
