<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id = "security-signin-close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Sign In</h4>
            </div>
            <div class="modal-body">

                <div id = "" class = "security-authorization">

                    <div
                        id = "security-authorization-errors"
                        class = "alert alert-danger"
                        role = "alert"
                    ></div>

                    <div id = "" class = "security-authorization-content">

                        <label for = "username" />
                        <input id = "username" name = "username" placeholder = "Username" />

                        <label for = "password" />
                        <input id = "password" type = "password" name = "password" placeholder = "Password" />

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button id = "security-signin-cancel" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id = "security-signin-submit" type="button" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>
</div>
