/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2014, 9:16:03 PM
    Author     : vitaliy
*/
html, body
{
    margin : 0;
    padding: 0;
}

body
{
    font-family	: "Times New Roman", serief;
    font-size	: small;
}

/* Table */
table
{

}

    table tr
    {
        background: linear-gradient( to top, #eee, #fff, #eee );
    }
        table tr td
        {
            border: solid 0px #000;
            padding: 5px;
        }

/* Custom */
header
{
    background: #0f0;
    background: linear-gradient( to bottom, #fff, #eee, #ccc );
    margin-bottom: 5px;
    font-size: medium;
}

header>.logo
{
    float: left;
    width: 140px;
}

header>nav
{
    font-weight: bold;
    /*display: block;*/
}

header>nav>ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    /*min-height: 40px;*/
}

header>nav>ul>li
{
    /*border-left: #fff solid 1px;*/ 
    /*border-right: #fff solid 1px;*/ 
    /*min-height: 40px;*/
    /*min-width: 60px;*/
    display: inline-block;
    padding: 0 5px;
    /*margin: 0 0 0 5px;*/
    line-height: 3em;
    text-align: center;
    position: relative;
}

    header>nav>ul>li:hover
    {
        background: linear-gradient( to top, #bbb, #eee, #bbb );
    }

    header>nav>ul>li>a
    {
        /*min-height: 40px;*/
        /*padding: 15px 0;*/
    }

/* Main */
.main
{
    
}

nav.menu-left
{
    background: #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    margin-bottom: 5px;
    float : left;
    width: 150px;
    padding: 5px;
}

nav.menu-left>ul
{
    margin:0;
    /*padding: 0;*/
}

.content
{
    background: #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    font-size: medium;
    margin-left: 165px;
    margin-bottom: 5px;
    padding: 5px;
}

footer
{
    background: linear-gradient( to top, #fff, #eee, #ccc );
    text-align: center;
    clear: both;
    line-height: 2em;
}

/* Song */
.song
{

}

    .song>.header
    {

    }

        .song>.header>.title
        {
            font-weight: bold;
            font-size: 18pt;
            text-align: center;
        }

        .song>.header>.authors
        {
            text-align: center;
        }
            .song>.header>.authors>.author
            {
                display:inline-block;
                font-style: italic;
                padding: 0 5px;
            }

    .song>.song-content
    {

    }
        .song>.song-content>.notes
        {

        }
            .song>.song-content>.notes>.tonalnist
            {
                margin-top: 10px;
            }
                .song>.song-content>.notes>.tonalnist>roller
                {
                    background: linear-gradient( to right, #eee, #fff, #eee );
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    box-sizing: border-box;
                    display:block;
                    text-align: center;
                }
                    .song>.song-content>.notes>.tonalnist>roller>item
                    {
                        display:inline-block;
                        min-width: 50px;
                        text-align: center;
                    }
                    .song>.song-content>.notes>.tonalnist>roller>item:hover
                    {
                        background: linear-gradient( to top, #ccc, #eee, #ccc );
                    }
                    .song>.song-content>.notes>.tonalnist>roller>item.active
                    {
                        background: #eee;
                        background: linear-gradient( to top, #eee, #fff, #eee );
                        border-left: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                    }

            .song .song-content .notes .editor
            {
                text-align: center;
            }
            .song .song-content .notes .editor canvas
            {
                border: solid 1px #000;
                margin: 10px;
            }