/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 8, 2014, 9:16:03 PM
    Author     : vitaliy
*/
html, body
{
    margin : 0;
    padding: 0;
}

body
{
    font-family	: "Times New Roman", serief;
    font-size	: small;
}

/* Table */
table
{

}

    table tr
    {
        background: linear-gradient( to top, #eee, #fff, #eee );
    }
        table tr td
        {
            border: solid 0px #000;
            padding: 5px;
        }

/* Custom */
header
{
    background: #0f0;
    background: linear-gradient( to bottom, #fff, #eee, #ccc );
    margin-bottom: 5px;
    font-size: medium;
}

header>.logo
{
    float: left;
    width: 140px;
}

header>nav
{
    font-weight: bold;
    /*display: block;*/
}

header>nav>ul
{
    margin: 0;
    list-style: none;
    padding: 0;
    /*min-height: 40px;*/
}

header>nav>ul>li
{
    /*border-left: #fff solid 1px;*/ 
    /*border-right: #fff solid 1px;*/ 
    /*min-height: 40px;*/
    /*min-width: 60px;*/
    display: inline-block;
    padding: 0 5px;
    /*margin: 0 0 0 5px;*/
    line-height: 3em;
    text-align: center;
    position: relative;
}

    header>nav>ul>li:hover
    {
        background: linear-gradient( to top, #bbb, #eee, #bbb );
    }

    header>nav>ul>li>a
    {
        /*min-height: 40px;*/
        /*padding: 15px 0;*/
    }

/* Main */
.main
{
    
}

nav.menu-left
{
    background: #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    margin-bottom: 5px;
    float : left;
    width: 150px;
    padding: 5px;
}

nav.menu-left>ul
{
    margin:0;
    /*padding: 0;*/
}

.content
{
    background: #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    font-size: medium;
    margin-left: 165px;
    margin-bottom: 5px;
    padding: 5px;
}

footer
{
    background: linear-gradient( to top, #fff, #eee, #ccc );
    text-align: center;
    clear: both;
    line-height: 2em;
}


/**
 * Song
 * Styles for song UI
 */
.song
{

}
    /* Header */
    .song>.header
    {

    }
        /* Title */
        .song>.header>.title
        {
            font-weight: bold;
            font-size: 18pt;
            text-align: center;
        }

    .song>.song-content
    {

    }
        /* Authors of song */
        .song .authors
        {
            margin-bottom: 10px;
        }

        /* Author. Ex. Poet, Composer */
        .song .authors>.author
        {
            display:inline-block;
            font-style: italic;
            padding: 0 5px;
        }

        /* Staff */
        .song>.song-content>.staff
        {
            /*display: inline-block;*/
            /*max-width: 850px;*/
        }

            .song>.song-content ul
            {
                display: inline-block;
                list-style: none;
                /*margin: 0 15px;*/
                padding: 0;
            }

                .song>.song-content ul>li
                {

                }
                    /*  */
                    .song>.song-content .staff .transpose
                    {
                        /*margin-top: 10px;*/
                    }
                        .song>.song-content .staff .transpose>roller
                        {
                            background: linear-gradient( to right, #eee, #fff, #eee );
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            box-sizing: border-box;
                            display:block;
                            text-align: center;
                        }
                            .song>.song-content .staff .transpose>roller>item
                            {
                                display:inline-block;
                                min-width: 50px;
                                text-align: center;
                            }
                            .song>.song-content .staff .transpose>roller>item:hover
                            {
                                background: linear-gradient( to top, #ccc, #eee, #ccc );
                            }
                            .song>.song-content .staff .transpose>roller>item.active
                            {
                                background: #eee;
                                background: linear-gradient( to top, #eee, #fff, #eee );
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                            }

                    /* Viewer */
                    .song>.song-content .staff .viewer
                    {
                        text-align: center;
                    }
                    .song>.song-content .staff .viewer>canvas
                    {
                        border: solid 1px #000;
                        margin: 10px;
                    }

    .song>.song-content>.text
    {
        /*max-width: 500px;*/
        overflow-x: hidden;
        vertical-align: top;
    }

        .song>.song-content>.text .viewer
        {
            padding: 0 10px 0 40px;
        }

    .song>.song-content>.item
    {
        /*display: inline-block;*/
        border: dotted 1px #000;
        margin-top: 10px;
        max-width: 894px;
    }

    .song>.song-content>.item>.item-swipe
    {
        background: #000;
        border: 1px solid #000;
        color:#fff;
        line-height: 400px;
        opacity: 0.5;
        text-align: center;
        vertical-align: top;
        width: 30px;
    }

    .song>.song-content>.item>.item-swipe-left
    {
        /*float:left;*/
        display: inline-block;
    }

    .song>.song-content>.item>.item-swipe-right
    {
        /*float:right;*/
        display: inline-block;
    }
