/**
 * @copyright 2014 (c), By Vitaliy Tsutsman
 *
 * @author Vitaliy Tsutsman <vitaliyacm@gmail.com>
 *
 * @date 2014-05-08 21:16:03 :: 2014-..-..
*/
html, body
{
    margin : 0;
    padding: 0;
}

body
{
    font-family	: "Times New Roman", serief;
    font-size	: small;
}

/* Table */
table
{

}

    table tr
    {
        background: linear-gradient( to top, #eee, #fff, #eee );
    }
        table tr td
        {
            border: solid 0px #000;
            padding: 5px;
        }

/* Custom */
header
{
    background: #0f0;
    background: linear-gradient( to bottom, #fff, #eee, #ccc );
    margin-bottom: 5px;
    font-size: medium;
}

header>.logo
{
    float: left;
    display: inline-block;
    width: 140px;
}

header>nav
{
    font-weight: bold;
    display: inline-block;
}

header>nav>ul
{
    margin: 0;
    list-style: none;
    padding: 0;
}

header>nav>ul>li
{
    display: inline-block;
    padding: 0 5px;
    line-height: 3em;
    text-align: center;
    position: relative;
}

    header>nav>ul>li:hover
    {
        background: linear-gradient( to top, #bbb, #eee, #bbb );
    }

    header>nav>ul>li>a
    {

    }

header>.security
{
    float: right;
    display: inline-block;
}

/* Main */
.main
{
    
}

nav.menu-left
{
    background      : #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    margin-bottom   : 5px;
    float           : left;
    list-style      : none;
    width           : 50px;
    padding         : 5px;
}

    nav.menu-left>ul
    {
        margin:0;
        padding-left: 15px;
    }

        nav.menu-left>ul>li
        {

        }

.content
{
    background: #eee;/*linear-gradient( to top, #ccc, #eee, #ccc );*/
    font-size: medium;
    margin-left: 65px;
    margin-bottom: 5px;
    padding: 5px;
}

footer
{
    background: linear-gradient( to top, #fff, #eee, #ccc );
    text-align: center;
    clear: both;
    line-height: 2em;
}


/**
 * Song
 * Styles for song UI
 */
.song
{

}
    /* Header */
    .song>.header
    {

    }
        /* Title */
        .song>.header>.title
        {
            font-weight: bold;
            font-size: 18pt;
            text-align: center;
        }

    .song>.song-content
    {
        background: #000;
    }
        /* Authors of song */
        .song .authors
        {
            border-bottom: solid 1px #bbb;
            margin: 10px 0 0 0;
        }

        /* Author. Ex. Poet, Composer */
        .song .authors>.author
        {
            display:inline-block;
            font-style: italic;
            padding: 0 5px;
        }

        /* Staff */
        .song>.song-content>.staff
        {

        }

            .song>.song-content ul
            {
                display: block;
                list-style: none;
                margin: 0;
                padding: 0;
                width: 100%;
            }

                .song>.song-content ul>li
                {

                }
                    /*  */
                    .song>.song-content .staff .transpose
                    {

                    }
                        .song>.song-content .staff .transpose>roller
                        {
                            background: linear-gradient( to right, #ccc, #fff, #ccc );
                            border-top: 1px solid #fff;
                            border-bottom: 1px solid #fff;
                            box-sizing: border-box;
                            display:block;
                            text-align: center;
                        }
                            .song>.song-content .staff .transpose>roller>item
                            {
                                display:inline-block;
                                min-width: 50px;
                                text-align: center;
                            }
                            .song>.song-content .staff .transpose>roller>item:hover
                            {
                                background: linear-gradient( to top, #ccc, #eee, #ccc );
                            }
                            .song>.song-content .staff .transpose>roller>item.active
                            {
                                background: #eee;
                                background: linear-gradient( to top, #eee, #fff, #eee );
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                            }

                    /* Viewer */
                    .song>.song-content .staff .viewer
                    {
                        text-align: center;
                    }
                    .song>.song-content .staff .viewer>canvas
                    {
                        border: solid 1px #000;
                        margin: 10px;
                    }

    .song>.song-content>.text
    {
        overflow-x: hidden;
        vertical-align: top;
    }

        .song>.song-content>.text .viewer
        {
            padding: 0 10px 0 40px;
        }

    .song>.song-content>.item
    {
        background  : linear-gradient( to right, #ccc, #fff, #ccc );
        display     : flex;
        margin-top  : 2px;
    }

        .song>.song-content>.item>.item-swipe
        {
            align-items     : center;
            background      : #000;
            color           : #fff;
            display         : flex;
            justify-content : center;
            opacity         : 0.5;
            text-align      : center;
            vertical-align  : top;
            width           : 30px;
            align-items     : center;
        }

        .song>.song-content>.item>.item-swipe-left
        {
            background:  linear-gradient(to left, #000, #333, #ccc);
        }

        .song>.song-content>.item>.item-swipe-right
        {
            background:  linear-gradient(to right, #000, #333, #ccc);
        }
